{{>nav user=user}}


	 <!-- review page  -->
	 <!-- Gallery -->
	 <div class="Gallery border-bottom ">
		 <div class="container  ">
			 <div class="row">
				 <div class="col">
					 <img
						 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
						 class="img-fluid"
						 alt="house1"
					 />
				 </div>
				 <div class="col mt-3 ">
					 <div class="container ">
						 <div class="row row-cols-3">
							 <div class="col">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <!-- <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div>
							 <div class="col mb-3">
								 <img
									 src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
									 class="img-fluid"
									 alt="housepictures"
								 />
							 </div> -->
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>

	 <!-- Content of the House -->

	 <div class="container">
		 <div class="row p-3">
			 <div class="col-sm-8">
				 <h1>{{house.title}}</h1>
				 <span>
					 <i class="green-icon fa-solid fa-location-dot"></i> {{house.location}} • {{house.rooms}}
					 Rooms
				 </span>
				 <div class="row mt-4">
					 <div class="col-sm-1">
						 <img
							 src="{{house.host.avatar}}"
							 class="img-fluid rounded-circle"
							 alt="housepictures"
						 />
					 </div>
					 <div class="col-sm-11 p-2">
						 <h5 class="text-secondary">{{house.host.name}}</h5>
					 </div>
				 </div>
				 <p>
					 <span>
						 {{house.description}}
					 </span>
				 </p>
				 <h2>2 Reviews</h2>

				 <form>
					 <div class="form-group">
						 <label><h6>Leave a review</h6></label>
						 <textarea class="form-control" rows="6"></textarea>
					 </div>
					 <div class="my-3">
						 <button type="button" class="btn btn-outline-success">
							 <i class="fa-solid fa-thumbs-up"></i>
						 </button>
						 <button type="button" class="btn btn-outline-danger">
							 <i class="fa-solid fa-thumbs-down"></i>
						 </button>
					 </div>
					 <button class="btn btn-success d-block mb-4">Submit</button>
				 </form>

				 <!-- review cards -->

				 <div class=" card mb-2">
					 <div class="card-body">
						 <div class="row p-3">
							 <div class="col-1">
								 <img
									 src="https://randomuser.me/api/portraits/men/11.jpg"
									 class="img-fluid rounded-circle  "
									 alt="housepictures"
								 />
							 </div>
							 <div class="col-11 ">
								 <p class="text-secondary mb-0">02 Jan 2022-01:01</p>
								 <h5>Peter Lewis</h5>
								 <p>
									 <span>
										 Stylish, tropical, luxurious airy and absolute stunning
										 view over the bay of Chaweng Beach.
									 </span>
								 </p>
							 </div>
						 </div>
					 </div>
				 </div>

				 <!-- review card 2 -->

				 <div class=" card mb-2">
					 <div class="card-body">
						 <div class="row p-3">
							 <div class="col-1">
								 <img
									 src="https://randomuser.me/api/portraits/men/11.jpg"
									 class="img-fluid rounded-circle  "
									 alt="housepictures"
								 />
							 </div>
							 <div class="col-11 ">
								 <p class="text-secondary mb-0">02 Jan 2022-01:01</p>
								 <h5>Peter Lewis</h5>
								 <p>
									 <span>
										 Stylish, tropical, luxurious airy and absolute stunning
										 view over the bay of Chaweng Beach.
									 </span>
								 </p>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>

			 <!-- Message Host Card -->
			 <!--
			 <div class="col-sm-4">
				 <div class="card shadow">
					 <div class="card-body">
						 <h5 class="card-title">$350$/night</h5>
						 <h6 class="my-2">2 Reviews</h6>
						 <textarea
							 class="form-control mb-2"
							 rows="6"
							 placeholder="Send the host a message... "
						 ></textarea>
						 <button class="btn btn-success">Request Booking</button>
					 </div>
				 </div>
			 </div> -->

			 <div class="col-sm-4">
				 <div class="card shadow">
					 <div class="card-body">
						 <h5 class="card-title">{{house.price}}$/night</h5>
						 <h6 class="my-2">
							 <i class="green-icon fa-solid fa-thumbs-up"></i> 2 Reviews
						 </h6>
						 <div class="alert alert-success" role="alert">
							 <p class="mb-0">
								 Thank you for your enquiry.<br />
								 Sent on 02 Jan 2022-01:01
							 </p>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
